@font-face
{
	font-family: Existence;
	src: url('fonts/Existence-Light.ttf');
}

@font-face
{
	font-family: Asap;
	src: url('fonts/Asap-Regular.ttf');
}


body
{
	font-family: Asap;
	background-color: #5B0C41;
}

a
{
	color: #A95B8F;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
	color: #A95B8F;
}

.form_content
{
	/*background-color: #5B0C41;
	border-radius: 10px;*/
	width: 400px;
	padding-bottom: 10px;
	margin: 0px auto;
}

.form_content h1
{
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 300px;
	height: 100px;
	line-height: 100px;
	white-space: nowrap;
}

#login_content h1
{
	margin-top: 35%;
}

#reg_content h1
{
	margin-top: 15%;
}

h1
{
	color: #CF9ABE;
	font-family: Existence;
	font-size: 80px;
	text-shadow: 2px 2px 5px #340023;
}

#name_addItems
{
	margin-top: 0px;
	margin-bottom: 10px;
}

th
{
	font-weight: normal !important;
	text-align: right !important;
}

#login_form table, #reg_form table
{
	text-align: center;
	margin: 0px auto;
	color: #CF9ABE;
}

td
{
	padding: 5px;
}

input[type='text'], input[type='password']
{
	border-radius: 5px;
	border: 1px solid #822B66;
	padding: 3px;
	font-family: Helvetica;
	background: #A95B8F;
}

input:focus
{
	/*outline-color: #CF9ABE;*/
	outline: none;
	box-shadow: 0px 0px 7px #000000;
}

input[type='submit'], input[type='button'], button
{
	margin-top: 15px;
	background: #CF9ABE;
	border: 0px;
	box-shadow: 2px 2px 5px #340023;
	width: 100%;
	height: 25px;
	border-radius: 10px;
	font-family: Asap;
	font-size: 14px;
	color: #340023;
	cursor: pointer;
}

.alert_box
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	width: 400px;
	text-align: center;
}

.alert_box_head
{
	margin-bottom: 20px;
	color: #CF9ABE;
	font-family: Existence;
	font-size: 24px;
	font-weight: 900;
	text-shadow: 2px 2px 5px #340023;
}

.errorlist
{
	display: inline;
	list-style-position: inside;
	font-size: 12px;
	margin: 0px !important;
	width: 40%;
}

.content
{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	height: 65%;
	overflow-y: scroll;
}

#new_set
{
	width: 95%;
}

.item_image
{
	height: 200px;
	width: auto;
	padding: 0px;
	margin: 0px;
}

#wardrobe_bin
{
	width: 200px;
	display: inline-block;
	text-align: right;
}

.row_item
{
	height: 200px;
}

.row_rating
{
	height: 25px;
}

.removeItem
{
	width: 200px;
	margin-top: 3px !important;
}

.in_wardrobe
{
	/*opacity: 0.6; /* Real browsers 
	filter: alpha(opacity = 60); /* MSIE */
	color: #CF9ABE;
}

.goto
{
	color: #CF9ABE;
}

#goto
{
	text-align: center;
}


/* STAR RATINGS */

.reset_rate
{
	color: #A95B8F;
	padding-top: 5px;
}

.reset_rate:hover
{
	color: #CF9ABE;
	transition: color .5s;
}

div.stars {
	width: 150px;
	display: inline-block;
	/*background: rgba(91, 12, 65, .7);*/
	margin-left: 28px;
}

input.star { display: none; }

label.star {
	position: relative;
	left: -5px;
	float: right;
	padding: 5px;
	font-size: 16px;
	color: #CF9ABE;
	transition: all .2s;
}

input.star:checked ~ label.star:before {
	content: '\f005';
	color: #FD4;
	transition: all .25s;
}

input.star-5:checked ~ label.star:before {
	color: #FE7;
	text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
	content: '\f006';
	font-family: FontAwesome;
}
