{% load staticfiles %}

<html>
	<head>
		<title>Your Wardrobe - Modifit</title>
		<link rel="stylesheet" type="text/css" href="{% static 'modifit/global.css' %}" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	</head>
	<body>
		<h1 id="name_addItems">{{ name }}, rate the following items!</h1>

		<form action="/rate/" method="post">
			{% csrf_token %}
			<div class="content">
				<table id="new_set">
					<tr>
						{% for i in items %}
							{% cycle '' '' '' '' '</tr><tr>' %}
								<td class="row_item">
									<img src='{{ i.image }}' class="item_image" id="item{{ i.id }}" alt="{{ i.id }}-{{ i.category.name }}" />
									<br>
									<input type="hidden" name="item_id_{{ i.id }}" id="item_id_{{ i.id }}" value="{{ i.id }}" />
									<div class="stars">
										<input class="star star-5" id="star-5-{{ i.id }}" type="radio" name="rate{{ i.id }}" value="5" />
										<label class="star star-5" for="star-5-{{ i.id }}"></label>
										<input class="star star-4" id="star-4-{{ i.id }}" type="radio" name="rate{{ i.id }}" value="4" />
										<label class="star star-4" for="star-4-{{ i.id }}"></label>
										<input class="star star-3" id="star-3-{{ i.id }}" type="radio" name="rate{{ i.id }}" value="3" />
										<label class="star star-3" for="star-3-{{ i.id }}"></label>
										<input class="star star-2" id="star-2-{{ i.id }}" type="radio" name="rate{{ i.id }}" value="2" />
										<label class="star star-2" for="star-2-{{ i.id }}"></label>
										<input class="star star-1" id="star-1-{{ i.id }}" type="radio" name="rate{{ i.id }}" value="1" />
										<label class="star star-1" for="star-1-{{ i.id }}"></label>
									</div>
								</td>
						{% endfor %}
					</tr>
				</table>
			</div>
			<input type="submit" value="Add Items to Wardrobe" />
		</form>

		<button onclick="window.location.href='/wardrobe/'">Your Wardrobe</button>

		<form action="/logout/" method="post">
			{% csrf_token %}
			<input type="submit" value="Logout" />
		</form>
	</body>
</html>