{% load staticfiles %}

<html>
	<head>
		<title>Recommendations - Modifit</title>
		<link rel="stylesheet" href="{% static 'modifit/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'modifit/global.css' %}" />
		<script src="{% static 'modifit/jquery-1.11.3.min.js' %}"></script>
		<script src="{% static 'modifit/bootstrap/js/bootstrap.min.js' %}"></script>
	</head>
	<body>
		<h1 id="name_addItems">Recommendations</h1>
		<div class="content">
			<table id="new_set">
				<tr>
					{% for i in recommendations %}
						{% if forloop.counter0|divisibleby:5 %}</tr><tr>{% endif %}
						<td class="row_item" id="element{{ i.item.id }}">
							<a href="{% url 'item' i.item.id %}">
								<img src='{{ i.item.image }}' class="item_image" id="item{{ i.item.id }}" alt="{{ i.item.id }}-{{ i.item.name }}" />
							</a>
							<br>
							<input type="hidden" name="item_id_{{ i.item.id }}" id="item_id_{{ i.item.id }}" value="{{ i.item.id }}" />
							<input type="range" name="rate{{ i.item.id }}" min="-5" max="5" value="{{ i.user_rating }}" onchange="highlightLabel(this.value, {{ i.item.id }})" />
							<div class="range_labels">
								<div class="range_label{% if i.user_rating == -5 %} highlighted{% endif %}" id="range{{ i.item.id }}-5" onclick="changeValue({{ i.item.id }}, -5)">-5</div>
								<div class="range_label{% if i.user_rating == -4 %} highlighted{% endif %}" id="range{{ i.item.id }}-4" onclick="changeValue({{ i.item.id }}, -4)">-4</div>
								<div class="range_label{% if i.user_rating == -3 %} highlighted{% endif %}" id="range{{ i.item.id }}-3" onclick="changeValue({{ i.item.id }}, -3)">-3</div>
								<div class="range_label{% if i.user_rating == -2 %} highlighted{% endif %}" id="range{{ i.item.id }}-2" onclick="changeValue({{ i.item.id }}, -2)">-2</div>
								<div class="range_label{% if i.user_rating == -1 %} highlighted{% endif %}" id="range{{ i.item.id }}-1" onclick="changeValue({{ i.item.id }}, -1)">-1</div>
								<div class="range_label{% if i.user_rating == 0 %} highlighted{% endif %}" id="range{{ i.item.id }}0" onclick="changeValue({{ i.item.id }}, 0)">0</div>
								<div class="range_label{% if i.user_rating == 1 %} highlighted{% endif %}" id="range{{ i.item.id }}1" onclick="changeValue({{ i.item.id }}, 1)">1</div>
								<div class="range_label{% if i.user_rating == 2 %} highlighted{% endif %}" id="range{{ i.item.id }}2" onclick="changeValue({{ i.item.id }}, 2)">2</div>
								<div class="range_label{% if i.user_rating == 3 %} highlighted{% endif %}" id="range{{ i.item.id }}3" onclick="changeValue({{ i.item.id }}, 3)">3</div>
								<div class="range_label{% if i.user_rating == 4 %} highlighted{% endif %}" id="range{{ i.item.id }}4" onclick="changeValue({{ i.item.id }}, 4)">4</div>
								<div class="range_label{% if i.user_rating == 5 %} highlighted{% endif %}" id="range{{ i.item.id }}5" onclick="changeValue({{ i.item.id }}, 5)">5</div>
							</div>
						</td>
					{% endfor %}
				</tr>
			</table>
		</div>
		<div id="error"></div>

		<a class="goto" href='/wardrobe/'>
			Back to Wardrobe
		</a>

		<script>

			function changeValue(item_id, rating_value)
			{
				$('input[name=rate' + item_id + ']').val(rating_value);

				highlightLabel(rating_value, item_id);
			}

			function highlightLabel(rating_value, item_id)
			{
				var i;
				for( i=-5; i<=5; i++)
				{
					$('#range'+ item_id + i).removeClass("highlighted");
				}
				
				$('#range'+ item_id + rating_value ).addClass("highlighted");
				//console.log(obj);

				rate(item_id, rating_value)
			}

			function rate(item_id, rating_value)
			{
				//rating_value = $("input[name='rate'" + item_id +"]").val();
				console.log(item_id);
				console.log(rating_value);

				$.ajax({
					url : "/rate_recommendation/", // the endpoint
					type : "POST", // http method
					data : { itemToRate : item_id,
						rating : rating_value,
						csrfmiddlewaretoken: '{{ csrf_token }}' }, // data sent with the post request


					// handle a successful response
					success : function(json)
					{
						console.log(json); // log the returned json to the console
						console.log("success"); // another sanity check
						/*if(rating_value==0)
						{
							$('input[name=rate' + item_id + ']:checked').prop('checked',false);
						}*/
					},

					// handle a non-successful response
					error : function(xhr,errmsg,err)
					{
						$('#error').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
						" <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
						console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
					}
				});
			};

		</script>
	</body>
</html>